<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WidgetDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WidgetDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Widget Receivers -->
        <receiver
            android:name=".widget.AnimatedWidgetJerryReceiver"
            android:exported="true"
            android:label="@string/widget_jerry_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_jerry_info" />
        </receiver>

        <receiver
            android:name=".widget.AnimatedWidgetStarReceiver"
            android:exported="true"
            android:label="@string/widget_star_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_star_info" />
        </receiver>

        <receiver
            android:name=".widget.AnimatedWidgetHeartReceiver"
            android:exported="true"
            android:label="@string/widget_heart_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_heart_info" />
        </receiver>

        <!-- Widget Pin Callback Receiver -->
        <receiver
            android:name=".widget.WidgetPinReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hli.widgetdemo.WIDGET_PINNED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>